.floating-window {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.applicationheader {
  background-color: #444444;
  color: white;
  padding: 0 0.5em;
  font-family: Cantarell;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.close-button{
    height: 1em;
    align-self: center;
    cursor: pointer;
    align-content: center;
}