#project-folder {
  border: 0;
  background-color: #272625;
  width: 45em;
  height: 26em;
}
.file-manager {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 24.5em;
}
.file-manager-left {
  width: 25%;
  height: 100%;
  border-right: 1px black solid;
  border-top: 1px black solid;
}
.file-manager-right {
  height: 100%;
  width: 75%;
  border-top: 1px black solid;
}
