.floating-window {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.applicationheader{
  background-color: #444444;
  color: white;
  padding: 0 0.2em;
}

#terminal {
  width: 45em;
  height: 25em;
  background-color: #000000;
  border: 1px solid #444444;
  color: white;
}

#inputLine:focus {
  outline: none;
}
