* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cantarell;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

@font-face {
  font-family: Cantarell;
  src: url("media/font/Cantarell-VF.otf");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

@media (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
}

@media (orientation: landscape) {
  .desktop {
    display: initial;
  }
  body{
    background-image: url("media/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100hv;
  }
  .mobile {
    display: none;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .desktop {
    font-size: 0.9rem; /* Smaller font size for smaller screens */
  }
  .dock{
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .desktop {
    font-size: 0.8rem; /* Even smaller font size for very small screens */
  }
  .dock{
    margin: 20px
  }
}