.floating-window {
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: #000000;
    border: 1px solid #444444;
    cursor: move;
    display: none; /* Add this line */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.floating-window .applicationheader{
    background-color: #444444;
    color: white;
    padding: 0 .2em;
}