.social-contact{
    border-bottom: 3px solid #1a1a1a;
    width: 100%;
    height: 6rem;
    display: flex;
    gap: 1rem;
    padding:.5rem;
}

.social-contact img{
    height: 90%;
}

.social-contact p{
    font-size: 1.5rem;
    color: white;
    align-self: center;
}