#home{
    display: initial;
}

#home .logo{
    width: 50%;
    height: auto;
    max-height: 30%;
}

#home h2{
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem;
}

#home p{
    font-weight: 600;
    text-align: center;
    margin: 1.5rem;
}